<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <div>
            <a href="@Url.Action("Index","Home",new { q="+asd2"})">
                Test 1 Query String
            </a>
        </div>
        <br />
        <div>
            <a href="/?q=+12d">
                Test 2 Query String
            </a>
        </div>
    </div>
</body>
</html>
